* {
   margin : 0;
   padding : 0;
}

body {
   background: #ebebeb;
}

body > header,
body > footer {
   width : 90%;
   max-width : 650px;
   margin : 75px auto 75px auto;
}

body > header nav {
   margin-top : 20px;
}

body > header nav ul {
   list-style : none;
}

body > section {
   width : 90%;
   max-width : 800px;
   margin : 0 auto;
   background : #ffffff;
}

body > footer nav {
   padding: 0 0 30px 0;
}


div.inner {
   margin : 0 75px 0 75px;
   padding-bottom : 30px;
   background : #ffffff;
}

/* posts */

.post {
   position : relative;
   padding : 75px 0 45px 0;
   border-bottom : 1px #B7B7B7 solid;
}

.post:last-of-type {
   padding : 75px 0 0 0;
   border : none;
}

.post header {
   margin-bottom : 100px;
}

.post section.image {
   margin-left : -75px;
   height : 250px;
   overflow : hidden;
   position : relative;
}
.post section.image img {
   position : absolute;
   top : 50%;
   left : 50%;
   width : 100%;
}


.post section.text {
   padding : 25px 0 20px 0;

}

.post section.text img {
   width : 100%;
}

.post section.text blockquote {
   margin-left : -25px;
   padding-left : 20px;
   border-left : 1px #B7B7B7 solid;
}
.post section.text code {
   margin : -3px;
   padding : 1px;

   font-size : .8em; 
   font-family : courier !important;
   color : black;

   background : #eeeeee;
}
.post section.text pre code {
   display : block;
   margin : -5px;
   padding : 10px;
}
.post section.text li {
   font-family : Domine, sans-serif;
   font-size : 13px;
   color : #575757;
   line-height : 20px;
   clear : both;
   float : none;
}

.post section.text-share {
   border-bottom : 1px #b7b7b7 solid;
   padding-bottom : 50px;
}

.post footer {
   padding : 50px 0 50px 0;
   border-bottom : 1px #b7b7b7 solid;
}	

/* page */

.page header {
   margin-bottom : 30px;
}


