h1, h2 {
	font-family: Domine, sans-serif;
	font-size: 17px;
	color: #1B1B1B;
	font-weight: normal;
	position: relative;
	height: 17px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-family: EdmondsansMedium, sans-serif;
	font-size: 17px;
	color: #1B1B1B;
	font-weight: normal;
	float: left;
	border-bottom: 2px #1B1B1B solid;
	padding-bottom: 5px;
	margin-bottom: 15px;
	line-height: 25px;
}

header.main-header h1 a {
	color: #1B1B1B;
	text-decoration: none;
}

header.post-header a {
	color: #1B1B1B;
	text-decoration: none;
}

header.post-header h3:hover {
	color: #515151;
	border-bottom: 2px #515151 solid;
}

p {
	font-family: Domine, sans-serif;
	font-size: 13px;
	color: #575757;
   margin-top: 10px;
	margin-bottom: 15px;
	line-height: 25px;
	clear: both;
	float: none;
}

nav ul li {
	display: inline;
	margin-right: 20px;
	font-size: 15Px;
	font-family: Domine, sans-serif;
	padding-bottom: 3px;
}

nav ul li a {
	color: #8b8b8b;
	text-decoration: none;
	border-bottom: 1px #8B8B8B solid;
}

nav ul li a:hover {
	color: #1B1B1B;
	border-bottom: 1px #1B1B1B solid;
}

time {
	clear: both;
	float: left;
	font-family: Domine, serif;
	color: #8B8B8B;
	font-size: 13px;
}

nav.pageination a{
	color: #1B1B1B;
	text-decoration: none;
	margin-right: 3px;
}

nav.pageination a:hover {
	color: #888;
}

input, textarea {
	color: #8B8B8B;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
